In [5]:
#problem1
l = float(input("Enter the lenght of rectangle :"))
b = float(input("Enter the breadth of rectangle :"))
if (l==b):
  print("Square")
else:
  print("Not Square")

Enter the lenght of rectangle :5
Enter the breadth of rectangle :10
Not Square

In [6]:
#problem2
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

if a >= b and a >= c:
    print("The greatest number is:", a)
elif b >= a and b >= c:
    print("The greatest number is:", b)
else:
    print("The greatest number is:", c)

Enter the first number: 20
Enter the second number: 30
Enter the third number: 10
The greatest number is: 30

In [8]:
#problem3
a = int(input("Enter marks: "))
if a>= 75:
  print("You can sit for exam")
else:
  print("You can't sit for exam")

Enter marks: 5
You can't sit for exam

In [9]:
#problem4
a = int(input("Enter marks: "))
if a< 25:
  print("Your grade is  F")
elif a<=44 and a>=25 :
  print("Your grade is  E")
elif a<=49 and a>=45:
  print("Your grade is  D")
elif a<=59 and a>=50:
  print("Your grade is  C")
elif a<=79 and a>=60:
  print("Your grade is  B")
elif a<=89 and a>=80:
  print("Your grade is  A")
else:
  print("Your grade is  A+")

Enter marks: 50
Your grade is  C

In [ ]:
#problem5

In [10]:
#problem6
for i in range(-100, -9):
    print(i, end=" ")

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

In [3]:
#problem9
input = 27956240710
reversed_input = int(str(input)[::-1])
print("Original number:", input,"Reversed number:", reversed_input )

Original number: 27956240710 Reversed number: 1704265972

In [14]:
#probelm12
li = [1, 3, 5, [2, 3], True]
li[3].remove(2)
li[3].append(3)
li[4] = False

print("Output:", li)

Output: [1, 3, 5, [3, 3], False]

In [6]:
#problem13
S1 = {1, 4, 6, 8}
S2 = { 1, 2, 10}
intersection = S1.intersection(S2)
print("Intersection of S1 and S2:", intersection)

Intersection of S1 and S2: {1}

In [15]:
#problem15
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}
Dict['region'] = Dict.pop('country')
print("Updated Dictionary:", Dict)

Updated Dictionary: {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

In [7]:
#problem16
import pandas as pd
num = [10, 100, 300]
df = pd.DataFrame({'number': num})
print(df)

   number
0      10
1     100
2     300

In [16]:
#porblem17
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}
Dict['age'] = 28
print("Updated Dictionary:", Dict)

Updated Dictionary: {'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}